.button{
    width: 80px;
    border: 2px solid;
    cursor: pointer;
}

.section_details{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.movie_poster{
    height: auto;
    margin: 0 auto;
}