.box-click{
    background-color: white;
    text-decoration: none;
    color: black;
    display: block;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
}

.box_detail{
    background-color:#8080804f;
    padding: 10px;
}

.center_text{
    padding: 0 15px;
}
