main{
}
.container{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
}

.item{
    margin: 21px 21px;
    width: 210px;

}

.title{
    font-size: 50px;
    text-align: center;
}

